[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=wacom_yuify
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Wacom Yuify
Comment=Wacom Yuify Plugin